---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Gabriel Amortegui</h1>
			<p class="hero__text">
				Soy estudiante de Ingeniería en Sistemas, apasionado por la tecnología y el aprendizaje constante.
			</p>
			<Boton href="#" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="img/gabriel-amortegui.png"
		alt="gabriel_amortegui_img"
		width="384"
    	height="384"
	/>
	</div>
</section>
