---
import Title from '../atoms/Title.astro';
import { evidenceData } from '../data/evidenceData.js';
import EvidenceCard from './evidence-card/EvidenceCard.astro';
import './evidences.css';
---

<section
	id="evidences"
	class="flex flex-col w-full justify-center items-center h-auto min-h-[100dvh]"
>
	<div class="evidences__container">
		<Title contenido="Evidences" />

		{evidenceData.map((category) => (
			<details class="evidence__category">
				<summary class="category__title">
					{category.category}
					<span class="category__count">
						({category.files.length})
					</span>
				</summary>

				<div class="category__grid">
					{category.files.map((file) => (
						<EvidenceCard {...file} />
					))}
				</div>
			</details>
		))}
	</div>
</section>
