.evidences__container {
	max-width: var(--max-width);
	width: 100%;
	padding: 4rem 2rem;
}

/* CATEGORY */

.evidence__category {
	margin-top: 3rem;
	border: 1px solid #2a2a2a;
	border-radius: 14px;
	padding: 1.5rem 2rem;
	background: #141414;
	transition: all 0.3s ease;
}

.evidence__category[open] {
	border-color: var(--primary);
}

/* SUMMARY */

.category__title {
	font-size: 1.8rem;
	font-weight: 600;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	color: var(--primary);
	transition: color 0.3s ease;
}


.category__title::-webkit-details-marker {
	display: none;
}

.category__count {
	font-size: 1.2rem;
	background: var(--primary);
	color: black;
	padding: 4px 10px;
	border-radius: 999px;
	font-weight: 600;
}


/* GRID */

.category__grid {
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

/* RESPONSIVE */

@media (max-width: 768px) {
	.category__grid {
		justify-content: center;
	}
}

.evidence__category[open] .category__title {
	color: white;
}

.evidence__category[open] .category__count {
	background: white;
	color: var(--primary);
}
